* {
    font-family: "Roboto", "Arial", "sans-serif";
}

body {
    background-color: #434444;
}

p img {
    box-shadow: 4px 4px 2px #888888;
}

.jumbotron {
    margin: -20px 0px 10px 0px;
    background: #000 url("../images/code_hero_img.jpg") no-repeat center center;
    color: #FFF;
    height: 300px;
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.projects {
    background: darkgray;
    margin-bottom: 20px;
    border-radius: 10px;
}

.title-class {
    margin: 0px 0px 10px 0px;
    padding-bottom: 2px;
    background-color: #75ADE0;
    color: #000;
    border-radius: 10px;

}

.title-text {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 0.9em;
}

.desc-header {
    margin-top: 4px;
    font-size: 1.5em;    
}

.desc-li {
    font-size: 1.25em;
    margin-left: -15px;  
}






